.header{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


.logo{
    height: 160px;
    margin-left: 100px;
}

ul {
    gap: 30px
}

li {
    cursor: pointer;
    
}
.nav-items > ul{
    display: flex;
    list-style-type: none;
    margin-top: 50px;
    margin-right: 100px;
}

.nav-items > ul > li {
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-weight: 700;
}

.body{
    justify-content: center;
}

.search-filter {
    display: flex;         
    align-items: center;
    justify-content: center;
    gap: 700px;
    margin-top: 40px;
  }
  
  .search {
    display: flex;          
    align-items: center;
    border: 1px solid black;
    width: 400px;
    font-size: 25px;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
  }
  
  .filter-btn {
    display: flex;
    align-items:self-end;
    padding: 6px 12px;      
    background-color: #63a1e8; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;    
    
  }
  
  .filter-btn:hover {
    background-color: #0056b3; 
  }
  

.res-container{
    margin-top: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.res-card {
    width: 205px;
    height: 400px;
    padding: 15px;
    margin: 12px;
    background-color: rgb(253, 253, 253);
    overflow: hidden; 
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    line-height: normal;
}

.cuisines{
    text-align: center;
    margin: 10px 0;
    word-wrap: break-word;
    line-height: normal;
}


.res-card:hover {
    cursor: pointer;
    transform: translateY(-5px); /* Moves the card slightly upwards */
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2); /* Enhances the shadow */
}

.res-logo {
    width: 95%;
    height: auto; 
    object-fit: cover;
    padding-top: 6px;
}


.counter-app {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* Optional: centers the text and buttons inside the div */
    width: 200px; /* Optional: width of the div */
    background-color: lightblue; /* Optional: for visual clarity */
    padding: 20px; /* Optional: add some padding */
    border-radius: 8px; /* Optional: round the corners */
}

.msg{
    color: red;
}

button{
    width: 100px;
    height: 40px;
    border-radius: 20px;
}

.shimmer-container{
    margin-top: 40px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    margin : 20px;
    width: 205px;
    height: 300px;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    background-color:  rgba(234, 232, 232, 0.596);
    border : 1px;
    flex-direction: column; /* Stack children vertically */
    align-items: center; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    line-height: normal;
}

.login{
    padding: 10px;
    background-color: #63a1e8;
    cursor: pointer;
    border: 1px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.login:hover {
    background-color: #0056b3; 
    color: white;
  }
  