/* styling for card */

/* .card{
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(62, 60, 60);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image{
  max-width:60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: hsl(0%, 0%, 20%);
}

.card .card-text{
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(0, 0%, 30%);
}
 */


 /* styling for button */
/* 
 .button{
  background-color: hsl(200, 100%, 50%);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
 } */

 /* .student{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid hsla(0, 0%, 50%, 0.8);
  border-radius: 20px;
  margin: 10px;
 }

 .student p{
  font-size: 20px;

 }
 

 */


/* .welcome-message{
  font-size: 2em;
  background-color: hsl(120, 100%, 42%);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.login-prompt{
  font-size: 2em;
  background-color: hsl(0, 100%, 51%);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
} */


/* .list-category{
    font-size:  2.5em;
    font-weight: bold;
    color: hsl(0, 0%, 20);
    margin-bottom: 10px;
    text-align: center;
    border: 3px solid;
    border-radius:  5px;
    background-color: hsl(185, 100%, 50%);
}

.list-items{
  font-size: 2em;
  list-style: none;
  color: hsl(0, 0%, 25%);
  text-align: center;
  margin: 0;
}

.list-items li:hover{
  color: hsl(185, 100%, 50%);
  cursor: pointer;
} */


/* //counter app styling */

/* .counter-container{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.count-display{
    font-size: 10em;
    margin-top: 0;
    margin-bottom: 50px;
}

.counter-button{
    width: 200px;
    height: 50px;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0px 5px;
    background-color: bisque;
    border-color: beige;
    border-radius: 10px;
} */


/* COLOR PICKER STYLING */

/* body{
  font-family: Arial, Helvetica, sans-serif;
}

.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  margin: 50px;
  font-size: 3rem;
}

.color-display{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid hsl(0, 0%, 80%);
  border-radius: 25px;
  margin-bottom: 25px;
  transition: 0.25s;
} */

/* .ordered-list{
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

li{
    padding-right: 200px;
} */


/* body{
  text-align: center;
  border: 1px solid black;
  margin: 100px;
  border-radius: 20px;
  height: 400px;
}


h1{
  font-size: 100px;
}
button{
  margin: 10px;
  width: 150px;
  height: 50px;
  border-radius: 6px;
  border: none;
  background-color: antiquewhite;
  border-color: #e1bd47;
}

button :hover{
  background-color: red;
}
 */
